<!DOCTYPE html>
<html ng-app="MyApp"> <!-- モジュールを指定 -->
<head>
<meta charset="UTF-8">
<title>Wijmo 5 FlexGridサンプル4</title>

<!-- Wijmo -->
<script src="http://cdn.wijmo.com/5.20143.32/controls/wijmo.min.js" type="text/javascript"></script>
<link href="http://cdn.wijmo.com/5.20143.32/styles/wijmo.min.css" rel="stylesheet" type="text/css" />

<!-- Wijmoコントロール -->
<script src="http://cdn.wijmo.com/5.20143.32/controls/wijmo.grid.min.js" type="text/javascript"></script>

<!-- Wijmoテーマ -->
<link href="http://cdn.wijmo.com/5.20143.32/styles/themes/wijmo.theme.modern.min.css" rel="stylesheet" type="text/css" />

<!-- Wijmoカルチャ -->
<script src="http://cdn.wijmo.com/5.20143.32/controls/cultures/wijmo.culture.ja.min.js " type="text/javascript"></script>

<!-- AngularJSとWijmoのAngularディレクティブ -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/5.20143.32/interop/angular/wijmo.angular.min.js" type="text/javascript"></script>

<script type="text/javascript">
    // Wijmoモジュール"wj"を指定して新規モジュールを作成
    var myApp = angular.module("MyApp", ["wj"]);

    // モジュールにコントローラーを定義
    myApp.controller("MyController", ["$scope", function($scope) {
        // データ変数を生成
        var gridData = [
            {
                "name":"iPhone 6",
                "vendor": "Apple",
                "ram": "1GB",
                "platform":"iOS",
                "version":"8.2"
            },
            {
                "name":"iPhone 6 Plus",
                "vendor": "Apple",
                "ram": "1GB",
                "platform":"iOS",
                "version":"8.2"
            },
            {
                "name":"iPhone 5s",
                "vendor": "Apple",
                "ram": "1GB",
                "platform":"iOS",
                "version":"7.1.4"
            },
            {
                "name":"Nexus 6",
                "vendor": "Google",
                "ram": "3GB",
                "platform":"Android",
                "version":"5.1"
            },
            {
                "name":"Nexus 9",
                "vendor": "Google",
                "ram": "2GB",
                "platform":"Android",
                "version":"5.1"
            },
            {
                "name":"Nexus 5",
                "vendor": "Google",
                "ram": "2GB",
                "platform":"Android",
                "version":"4.4.4"
            },
            {
                "name":"Zenfone 5",
                "vendor": "ASUS",
                "ram": "2GB",
                "platform":"Android",
                "version":"4.4.2"
            },
            {
                "name":"Zenfone 2",
                "vendor": "ASUS",
                "ram": "4GB",
                "platform":"Android",
                "version":"5.x"
            }
        ];

        // データを引数に与えてCollectionViewインスタンスを生成 
        $scope.gridData = new wijmo.collections.CollectionView(gridData);
        // ページング指定
        $scope.gridData.pageSize = 3;
    }]);
</script>
</head>

<!-- bodyタグ内でMyControllerを参照 -->
<body ng-controller="MyController">
<h1>Wijmo 5 FlexGridサンプル4</h1>

<!-- FlexGrid表示 -->
<h3>FlexGrid</h3>
<wj-flex-grid items-source="gridData" style="width:700px">
    <wj-flex-grid-column header="製品名" binding="name"></wj-flex-grid-column>
    <wj-flex-grid-column header="メーカー" binding="vendor"></wj-flex-grid-column>
    <wj-flex-grid-column header="メモリ" binding="ram"></wj-flex-grid-column>
    <wj-flex-grid-column header="OS" binding="platform"></wj-flex-grid-column>
    <wj-flex-grid-column header="バージョン" binding="version"></wj-flex-grid-column>
</wj-flex-grid>

<h3>ページ指定</h3>
<button ng-click="gridData.moveToFirstPage()">先頭</button>
<button ng-click="gridData.moveToPreviousPage()">前</button>
{{gridData.pageIndex + 1 | number}} / {{gridData.pageCount | number}}
<button ng-click="gridData.moveToNextPage()">次</button>
<button ng-click="gridData.moveToLastPage()">最後</button>

</body>
</html>
