<!DOCTYPE html>
<html ng-app="MyApp">
<!-- モジュールを指定 -->

<head>
    <meta charset="UTF-8">
    <title>Wijmo 5 FlexGridサンプル5</title>

    <!-- Wijmo -->
    <script src="http://cdn.wijmo.com/5.20161.154/controls/wijmo.min.js" type="text/javascript"></script>
    <link href="http://cdn.wijmo.com/5.20161.154/styles/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmoコントロール -->
    <script src="http://cdn.wijmo.com/5.20161.154/controls/wijmo.grid.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/5.20161.154/controls/wijmo.input.min.js" type="text/javascript"></script>

    <!-- Wijmoテーマ -->
    <link href="http://cdn.wijmo.com/5.20161.154/styles/themes/wijmo.theme.modern.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmoカルチャ -->
    <script src="http://cdn.wijmo.com/5.20161.154/controls/cultures/wijmo.culture.ja.min.js " type="text/javascript"></script>

    <!-- AngularJSとWijmoのAngularディレクティブ -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/5.20161.154/interop/angular/wijmo.angular.min.js" type="text/javascript"></script>

    <script src="../assets/jquery-1.9.1.min.js"></script>
    <script src="../assets/prettify.js" type="text/javascript"></script>
    <script src="../assets/angular-cookies.js"></script>

    <script src="../assets/angular-local-storage.js"></script>

    <script type="text/javascript">
        // Wijmoモジュール"wj"を指定して新規モジュールを作成
    var myApp = angular.module("MyApp", ["wj","LocalStorageModule"]);

    // モジュールにコントローラーを定義
    myApp.controller("MyController", ["$scope", "$timeout", "localStorageService", "$rootScope", function($scope, $timeout, localStorageService, $rootScope) {
        // データ変数を生成
        var gridData = [
            {
                "id":"1",
                "name":"iPhone 6",
                "vendor": "Apple",
                "ram": "1",
                "platform":"1",
                "version":"8.2"
            },
            {
                "id":"2",
                "name":"iPhone 6 Plus",
                "vendor": "Apple",
                "ram": "1",
                "platform":"1",
                "version":"8.2"
            },
            {
                "id":"3",
                "name":"iPhone 5s",
                "vendor": "Apple",
                "ram": "1",
                "platform":"1",
                "version":"7.1.4"
            },
            {
                "id":"4",
                "name":"Nexus 6",
                "vendor": "Google",
                "ram": "1",
                "platform":"2",
                "version":"5.1"
            },
            {
                "id":"5",
                "name":"Nexus 9",
                "vendor": "Google",
                "ram": "1",
                "platform":"2",
                "version":"5.1"
            },
            {
                "id":"6",
                "name":"Nexus 5",
                "vendor": "Google",
                "ram": "2",
                "platform":"2",
                "version":"4.4.4"
            },
            {
                "id":"7",
                "name":"Zenfone 5",
                "vendor": "ASUS",
                "ram": "2",
                "platform":"2",
                "version":"4.4.2"
            },
            {
                "id":"8",
                "name":"Zenfone 2",
                "vendor": "ASUS",
                "ram": "2",
                "platform":"2",
                "version":"5.x"
            }
        ];


$scope.test1 = "test";

$scope.gridDataSrc = gridData;
//$scope.gridDataSrc = [];

// $scope.platforms = 'iOS,Android'.split(','),

$scope.theDate1 = new Date();
$scope.theDate2 = new Date();
$scope.theDate3 = new Date();

console.log($scope.theDate1);

$scope.testA = 1;




$scope.platforms =
        new wijmo.grid.DataMap([
            {id: "-1", name: '　'}, 
            {id: "1", name: 'IOS'}, 
            {id: "2", name: 'Android'}], 'id', 'name');

$scope.rams =
        new wijmo.grid.DataMap([
            {id: "-1", name: '　'}, 
            {id: "1", name: '1GB'}, 
            {id: "2", name: '2GB'}], 'id', 'name');


        // フィルタ値変数 ...（1）
        $scope.filterValue = "";

console.log();

        // データを引数に与えてCollectionViewインスタンスを生成 ...（2）
        $scope.gridData = new wijmo.collections.CollectionView($scope.gridDataSrc);

localStorageService.bind($scope, 'gridDataSrc', {storeName: "grid", defaultValue: $scope.gridDataSrc});


        // フィルタ処理を実装 ...（3）
        $scope.gridData.filter = function(item) {
            // フィルタ未指定の時は無条件true
            if (!$scope.filterValue) {
                return true;
            }
            // フィルタ指定されている時はname属性とマッチング
            else {
                return item.name.indexOf($scope.filterValue) > -1;
            }
        };




    $scope.initialized = function() {
        console.log('initialized');
$scope.grid.selection = new wijmo.grid.CellRange(-1,-1,-1,-1);

$scope.mm = new wijmo.grid.MergeManager($scope.grid);
var rng = new wijmo.grid.CellRange(0,3,0,4);
            $scope.mm.__proto__.getMergedRange = function(panel, r, c) {
                if (panel.cellType == wijmo.grid.CellType.ColumnHeader) {
                    if (r >= 0 && rng.contains(r, c)) {
                        return rng;
                    }
                }
                return null;
            };

    };

    $scope.load = function(sender, args) {
        console.log('load');
        
var root = sender.hostElement.querySelector('[wj-part="root"]');
root.style.backgroundColor = 'red';        
        
        sender.cssClass = 'redRow';
sender.rows.cssClass = 'redRow';
        
        var rows = sender.rows;
        for (var i = 0; i < rows.length; i++) {
                rows[i].cssClass = 'redRow';
        }        
$scope.grid.selection = new wijmo.grid.CellRange(-1,-1,-1,-1);
    };



    $scope.itemsSourceChanged = function(e) {
        console.log('itemsSourceChanged', e);
    };



    $scope.selectionChanged = function(s, e) {
        console.log('changed ', e);
    };


// function cellEditEnding (sender, e) {
//   // get old and new values
//   var flex = sender,
//       oldVal = flex.getCellData(e.row, e.col),
//       newVal = flex.activeEditor.value;
//   // cancel edits if newVal doesn't contain 'a'
//   e.cancel = newVal.indexOf('a') < 0;
// }



    $scope.editEnded = function (s, e) {

console.log("editEnded");

$scope.dirtytest = "a";

        var col = s.columns[e.col];
        if (col.binding === 'ram') {

console.log("ram change");
            // e.cancel = true;
//            $scope.grid.setCellData​(e.row, e.col + 1, "-1");
            // $scope.grid.setCellData(e.row, Number(e.col) + 1, "2");

            if($scope.gridData.items[e.row].ram === "-1"){
                $scope.gridData.items[e.row].platform = "-1";
            }



        }


    }


    // change city's data map depending on row
    $scope.beginningEdit = function (s, e) {

console.log("beginningEdit");        
        
        var col = s.columns[e.col];
        if (col.binding === 'platform') {

            if($scope.gridData.items[e.row].ram === "-1"){
                e.cancel = true;
                return;
            }
        }
        
//         var platform = s.rows[e.row].dataItem.platform;
//         console.log(platform);
        
        
// console.log($scope.platforms[platform]);
        
        
        
        // col.dataMap = country ? $scope.cityDataMaps[country] : ['Unknown Country!'];
    }


        $scope.move = function() {
            
            console.log($scope);
            
            console.log($scope.grid.rows);


for(var i = 0; i < $scope.grid.rows.length; i ++){
    
    console.log("id",$scope.grid.rows[i].dataItem.id);
    console.log("name",$scope.grid.rows[i].dataItem.name);
    
}

$scope.grid.rows.moveElement(2,3);
$scope.grid.finishEditing(true);
$scope.grid.refresh();
//$scope.gridData.refresh();

        //  for (var i = 0; i < $scope.gridData.sourceCollection.length; i ++){
        //        console.log($scope.gridData.items[i].id);
        //  }

        }




        $scope.showing = function(e) {

console.log("showing");
// var date_obj = new Date(2000,10,1,13,30,59,999);
$scope.theDate1 = new Date();
$scope.theDate2 = new Date();
// $scope.$apply();
console.log("showing");




// console.log($scope.wjInputTimeCtrl);
// $scope.wjInputTimeCtrl.refresh(true);

        };



        $scope.shown = function(e) {

console.log("shown");
// var date_obj = new Date(2000,10,1,13,30,59,999);
$scope.theDate1 = new Date();
$scope.theDate2 = new Date();
// $scope.$apply();
console.log("shown");

$scope.testA = $scope.testA + 1;

// console.log($scope.wjInputTimeCtrl);
// $scope.wjInputTimeCtrl.refresh(true);


        $scope.inputTime = new wijmo.input.InputTime('#theInputTime', {
            // min: new Date(2014, 8, 1, 9, 0),
            // max: new Date(2014, 8, 1, 17, 0),
            step: 1,
            format: 'h:mm tt',
            value: new Date()
        });

        };




        $scope.chgtime = function() {

// $scope.inputTime.hostElement.remove();

console.log($scope.popup);
$scope.popup.refresh(true);

$scope.popup.beginUpdate();

$scope.theDate1 = new Date();
$scope.theDate2 = new Date();

$scope.popup.endUpdate();

// console.log($scope.wjInputTimeCtrl);
// $scope.wjInputTimeCtrl.refresh(true);

        };



        $scope.add = function() {
alert("add");

            var griddt = {
                "name":"iPhone 6",
                "vendor": "Apple",
                "ram": "1GB",
                "platform":"iOS",
                "version":"8.2"
            };
            
console.log(griddt);            
            
            $scope.gridDataSrc.push(griddt);
            $scope.gridData.refresh();

localStorageService.bind($scope, 'gridDataSrc', {storeName: "grid", defaultValue: $scope.gridDataSrc});

        };



        $scope.del = function() {
            alert("del");

            console.log("$scope.gridData.sourceCollection.length",$scope.gridData.sourceCollection.length)

            for(var i = $scope.gridData.sourceCollection.length - 1 ; i > -1; i--){
                
            console.log($scope.gridData.items[i].name);

            if($scope.gridData.items[i].name === "Nexus 5"){
            $scope.gridData.removeAt(i);
                
            }

                
            }


        };


        $scope.itemsFormat = function(panel, r, c, cell) {
            
            console.log("itemsFormat");

        };
        


        $rootScope.$on('LocalStorageModule.notification.setitem', function (event, data) {
            console.info('LocalStorageModule.notification.setitem',data);
        });


        
        $scope.$watch('gridDataSrc', function (val) {
console.log('gridDataSrc watch', val);
        }, true);        


        // フィルタ変数（filterValue）が変更された時の処理 ...（4）
        var filterDescriptor;
        $scope.$watch('filterValue', function () {
            // timeout実行中の場合は一旦解除
            if (filterDescriptor) {
                $timeout.cancel(filterDescriptor);
            }
            // 一定時間遅延後フィルタ適用
            filterDescriptor = $timeout(function () {
                $scope.gridData.refresh();
            }, 1000);
        });
    }]);
    </script>

    <style type="text/css">
        .redRow {
            background-color: rgb(250, 210, 210) !important;
        }
    </style>


</head>

<!-- bodyタグ内でMyControllerを参照 -->

<body ng-controller="MyController">
    <h1>Wijmo 5 FlexGridサンプル5</h1>

    <ng-form name="userForm" novalidate>
        <!-- FlexGrid表示 -->
        <h3>FlexGrid</h3>
        <wj-flex-grid items-source="gridData" style="width:700px;height:400px;" selection-mode="Row" control="grid" selection-changed="selectionChanged(s,e)"
            beginning-edit="beginningEdit(s,e)" initialized="initialized()" cell-edit-ended="editEnded(s,e)" loaded-rows="load(s,e)"
            items-source-changed="itemsSourceChanged(e)"
            item-formatter="itemsFormat(panel, r, c, cell)"
            >
            <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
            <wj-flex-grid-column header="製品名" binding="name"></wj-flex-grid-column>
            <wj-flex-grid-column header="メーカー" binding="vendor"></wj-flex-grid-column>
            <wj-flex-grid-column header="メモリ" binding="ram" data-map="rams" show-drop-down="true"></wj-flex-grid-column>
            <wj-flex-grid-column header="OS" binding="platform" data-map="platforms" show-drop-down="true"></wj-flex-grid-column>
            <wj-flex-grid-column header="バージョン" binding="version"></wj-flex-grid-column>
        </wj-flex-grid>

        <h3>フィルタ指定</h3>
        <input type="text" ng-model="filterValue" />

        <input type="button" ng-click="add()" value="add">

        <input type="button" ng-click="del()" value="del">

        <input type="button" ng-click="move()" value="move">

        <input type="button" ng-click="chgtime()" value="chgtime">


        <input type="text" ng-show="true" ng-model="dirtytest"> {{test1}} {{dirtytest}}

        <div ng-show="userForm.$dirty">
            dirty
        </div>



        <wj-input-time value="theDate1" format="h:mm" step="1">
        </wj-input-time>


        <p>Here is a Popup control triggered by a button:</p>
        <button id="btn2" type="button">
    Click to show Popup
</button>
        <wj-popup control="popup" owner="#btn2" show-trigger="Click" hide-trigger="Click" shown="shown(e)" showing="showing(e)">
            <h3>
        Salutation
    </h3>
            <div class="popover-content">
                <wj-input-time min="09:00" max="23:59" format="h:mm" ng-model-options="{ debounce: 1 }" step="1">
                </wj-input-time>

                <input type="text" ng-show="true" ng-model="testA">

                <div id="theInputTime"></div>

            </div>
        </wj-popup>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        </form>

</body>

</html>